@value hyMainTheme, hyBlack from '/src/common/colors.module.css';

.categorys {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.4em;
  height: 2em;
  background-color: white;
}

.btn_container {
  display: flex;
  justify-content: center;

}

.category_btn {
  background-color: transparent;
  border: none;
}

.category_btn:hover {
  cursor: pointer;
  border-bottom: solid 2px hyBlack;
}

.category_btn.selected {
  background-color: hyMainTheme;
}