@value hyMainThemeOpa30 from '/src/common/colors.module.css';

.row_container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 2em;
  /* margin: auto; */
  padding: 1em 0;
}

.row:hover {
  cursor: pointer;
  background-color: hyMainThemeOpa30;
}

.row.toggled {
  background-color: hyMainThemeOpa30;
}

.title, .writer, .date {
  text-align:left;
}

.metadata {
  display: flex;
  justify-content:space-around;
  width: 30%;
}

.metadata.tablet_mobile {
  display: flex;
  flex-direction: column;
}

.title {
  width: 70%;
  margin-right: 1em;
}

.writer {
  width: 60%;
  margin-right: 0.4em;
}

.date {
  width: 40%;
}

.content {
  width: 100%;
}

.file_container {
  padding: 1em 0.4em;
}

@media screen and (max-width: 1024px) {
  .title {
    width: 100%;
  }

  .writer, .date {
    width: 100%;
  }
}